* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.ingrediens {
    width:100%;
}

.inder-ingrediens {
    width:250px;
    position: absolute;
    left:307.2px;
    display: none;
}

#salat {
    height:20px;
    top:500px;
    display: block;
}

#tomater{
    height:32px;
    top:470px;
}

#kød {
    height:18px;
    top:440px;
}

#ost {
    height:10px;
    top:410px;
}

#mayo {
    height:16px;
    top:370px;
}

#løg {
    height:26px;
    top:320px;
}

#burgerTop {
    width:250px;
    height:55px;
    position: absolute;
    left:307.2px;
    top:200px;
    display: none;
}

#burgerBund {
    width:250px;
    height:60px;
    position: absolute;
    top: 90%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
